#wiki__text{
	/*display:block;*/
}



/* Sample */

.textcomplete-dropdown.dropdown-menu {
    border: 1px solid #ddd;
    background-color: white;
    max-height: 200px;
    overflow: auto;
    overflow-x : -moz-hidden-unscrollable;
    overflow-x : hidden;
}

.textcomplete-dropdown.dropdown-menu li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
    margin:0px;
    white-space: nowrap;
    
}

.textcomplete-dropdown.dropdown-menu li.textcomplete-header,
.textcomplete-dropdown.dropdown-menu li.textcomplete-footer{
	text-align:center;
	color: #000;
}

.textcomplete-dropdown.dropdown-menu li a {
	color: #000;
	margin-right: 15px;
}

.textcomplete-dropdown.dropdown-menu li:first-child {
    border-top: none;
}

.textcomplete-dropdown.dropdown-menu li:hover,
.dropdown-menu .active {
    background-color: rgb(110, 183, 219);
}


/* SHOULD not modify */

.textcomplete-dropdown.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.textcomplete-dropdown.dropdown-menu a:hover {
    cursor: pointer;
}